__pycache__/adressbook.cpython-38.pyc
__pycache__/clean.cpython-38.pyc
__pycache__/helpers.cpython-38.pyc
personal_assistent/__pycache__/__init__.cpython-38.pyc
personal_assistent/personal_assistent.egg-info/dependency_links.txt
personal_assistent/personal_assistent.egg-info/entry_points.txt
personal_assistent/personal_assistent.egg-info/PKG-INFO
personal_assistent/personal_assistent.egg-info/SOURCES.txt
personal_assistent/personal_assistent.egg-info/top_level.txt
test.py
addressbook.bin
virtual_environment